


<br />
<br />
<br />
<div class = "jumbotron text-center" style = "background-color: white;" >
  <div class = "container">
    <h1> Comp 426 Final Project </h1>
    <br />
    <div> <img src = "assets/img/vitech.png"> </div>
</div>
<br />
<h2> We used Machine Learning and Statistics to Predict Insurance Premium Costs 
  based on the variables which have the most predictive power </h2>
  <br />

<button mat-raised-button color="primary" [routerLink]= "['/estimate']">
        Get Started
      </button>
<br />
<br />
<div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Graphs and Statistics</h2>
            <p>
              Witness our progress! See how we visualized, analyzed, and interpreted
               the data in order to build premium predictors.
               </p>
            <p><a class="btn btn-secondary" [routerLink]= "['/visualizations']" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Get Info about Premiums</h2>
            <p>
              Interesting in finding out more about the different Insurance Packages? 
              Wondering what each package could offer you?
              Click below for more information! 
            </p>
            <p><a class="btn btn-secondary" [routerLink]= "['/plan-details']" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Database Lookup</h2>
            <p>
              Our database lookup allows the user to input specific incomplete client information
              to search the database for more information.
              It can also be used to determine how many users exist in the
              database who fit the parameters.
            </p>
            <p><a class="btn btn-secondary" [routerLink]= "['/lookup']" role="button">View details &raquo;</a></p>
          </div>
          
        </div>

        <hr>

      </div> 
