<br />
<br />
<br />
<br />
<div>
<div class="container">
        <div class="row">
          <div class="col-md-4" style="max-width: 25%;">
            <h2> Bronze </h2>
            <p>Base Price: $20 </p>
            <p>Accidential Death and Dismemberment: $10000 </p>
            <p> Deductible: $8,000 </p>
            <p>Coverage Amount: $100,000 </p>
            
          </div>
          <div class="col-md-4" style="max-width: 25%">
            <h2>Silver</h2>
            <p> Base Price: $40 </p>
            <p> Accidential Death and Dismemberment:: $10000 </p>
            <p> Deductible: $7,000 </p>
            <p> Coverage Amount: $100,000 </p>
           
          </div>
          
          <div class="col-md-4" style="max-width: 25%">
            <h2>Gold</h2>
            <p> Base Price: $70 </p>
            <p> Accidential Death and Dismemberment:: $10000 </p>
            <p>  Deductible: $5,000</p>
            <p> Coverage Amount: $100,000 </p>
           
          </div>
          <div class="col-md-4" style="max-width: 25%">
            <h2>Premium</h2>
            <p> Base Price: $110 </p>
            <p>Accidential Death and Dismemberment:: $10000 </p>
            <p>  Deductible: $3,000 </p>
            <p> Coverage Amount: $100,000 </p>
            
          </div>
        </div>

        

        <hr>

      </div> 
      <button mat-raised-button color="primary" [routerLink] = "['/estimate']"> Need a Approximate Quote? </button>

<!--BRONZE
Base Price: $20
AD&D: $10000
Deductible: $8,000
Coverage Amount: $100,000

SILVER
Base Price: $40
AD&D: $20000
Deductible: $7,000
Coverage Amount: $100,000

GOLD
Base Price: $70
AD&D: $30000
Deductible: $5,000
Coverage Amount: $100,000

PLATINUM
Base Price: $110
AD&D: $50000
Deductible: $3,000
Coverage Amount: $100,000-->